.dual-processor__module--components {
  display: grid;
  grid-template-columns: 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20% 20% 20% 20%;
}

.dual-processor__module {
  display: flex;
  flex-direction: column;
}
